{% extends 'layout.html'%}{%block title %} Home {% endblock %}{%block content%}
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <div class="info-stat">
                    <h6>Upload File</h6>
                    <h4>Format CSV</h4>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="info-stat">
                    <h6>Process</h6>
                    <h4>Eclat Method</h4>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="info-stat">
                    <h6>Result</h6>
                    <h4>Association Rules</h4>
                  </div>
                </div>
                <div class="col-lg-12">
                  <h2>Sistem Tools Penentuan Paket Promo Barang Menggunakan Algoritma ECLAT</h2>
                </div>
                <div class="col-lg-12">
                  <div class="main-green-button scroll-to-section"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="{{ url_for('static', filename='assets/images/banner-right-image.png') }}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
