{% extends 'layoutuser.html'%}{%block title %} Eclatools {% endblock %}{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<center>
<div id="portfolio" class="our-portfolio section">
  <div class="container">
    <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
  
      <h2>Halaman <em>Perhitungan </em>Algoritma <span>Eclat</span></h2>
      <h4>Pastikan Datamu Berformat.CSV <span>&</span> Memiliki Kolom Item, Transaction, Kuantitas</h4>
    </div>
  </div>
  <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
      <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="container">
                    <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Pilih dan Mulai Analisis Data Penjualanmu</div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <p style="padding: 8px; color: red;" class="text-center">Hanya bisa upload satu file dalam satu waktu</p>
                                </div>
                                <div class="row" style="padding: 10px 15px 9px;">
                                    <form action="{{ url_for('tambah') }}" method="post" enctype="multipart/form-data">
                                        <div class="form-group"> 
                                            <div class="row" style="margin-bottom: 20px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"> 

                                                  <input type="file" name="file" accept=".csv" required> 
                                                </div>
                                            </div>
                                            <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
                                                <input type="submit" value="Proses" class="btn btn-lg btn-block btn-success" style="border-radius: 50px;background-color: #35832f";>
                                            </div>                                                 
                                        </div>                                                                                          
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="flash">
  <ul>
    {%for category, message in get_flashed_messages(with_categories=True)%}
          <div class="alert alert-danger {{ category }} col-lg-6 offset-lg-3" role="alert">{{ message }}</div>
          {%endfor%}
  </ul>
</div>
{% endif %} {% endwith %} <br><br>
</center>
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
     </div>
</div>

{%endblock %}
