<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eclat Association Rule Mining</title>
    <h2>Eclat Association Rule Mining</h2>
  </head>
  <body>
    <form action="/tambah" method="post" enctype="multipart/form-data"></form>
      <label for="file">Upload CSV File:</label>
      <input type="file" name="file" accept=".csv" required />
      <br />
      <input type="submit" value="Proses" />
    </form>
  </body>
</html>
